/* Imports */
@import 'variables';
@import 'typography';

@import 'libs/normalize';
@import 'libs/skeleton';
@import 'libs/lumos';

@import 'components/navigation';
@import 'components/photogrid';

/* Basic styling
--------------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: $white; 
    color: $black;
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

img.logo, svg.mainlogo {
    max-width: 250px;
}

.lumos-container {
    z-index: 40000;
}

/* Containers 
--------------------------------- */
.da-container {
    max-width: 960px;
    margin: 0 auto;
}

.full-width-section {
    width: 100%;
    padding-top: 85px;
    padding-bottom: 85px;
    margin: 0;
}

/* smaller than desktop*/
@media (max-width: 1010px) {
    .da-container {
        width: calc(100% - 50px);
        width: calc(100vw - 50px);
    }
}

/* Smaller than phablet */
@media (max-width: 550px) {
    .da-container {
        width: calc(100% - 50px);
        width: calc(100vw - 50px);
    }
}

/* Frontpage 
--------------------------------- */
.frontpage {
    background-image: url("../images/gallery/full/DSC03090.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    text-align: center;
}

div.bottom {
    position: absolute;
    bottom: 25px;
}

.btn-explore {
    text-align: center;
    text-decoration: none;
    color: $white;
}

p.hero_text {
    padding: 0 25px;
    color: $white;
    text-shadow: 0px 1px 1px #000000;
    font-size: 2rem;
}

/* Sections
--------------------------------- */
section h2 {
    margin-bottom: 0;
    position: relative;
}

/* Video section
--------------------------------- */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    
    iframe.youtube {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        border: none;
    }
}
.video-section {
    background-color: $white;
}

/* Main-Button
--------------------------------- */
.btn-main {
    text-decoration: none;
    position: relative;
    padding: 15px 50px;
    border: 2px solid $primary;
    background-color: $primary;
    border-radius: 2px;
    color: $white;
    transition: all 300ms ease-in-out;
    z-index: 0;
}
.btn-main:hover {
    background-color: $black;
    border-color: $black;
    color: $white;
}

/* Footer 
--------------------------------- */
footer {
    background-color: $black;
    color: $gray;
}

/* Smaller than mobile */
@media (max-width: 400px) {
    h1.sitetitle {
        font-size: 2.5rem !important;
    }
}

/* Smaller than phablet */
@media (max-width: 550px) {
    h1.sitetitle {
        font-size: 2.75rem !important;
    }
}

/* Smaller than tablet */
@media (max-width: 750px) {

}
