/* Sass Variables
--------------------------------- */
$primary: #E54B4B;  //109BE8
$gray: #8F8F8F;
$black: #151515; 
$white: #F9F9F9;
$accent: lighten($gray, 40%);

$BACKGROUND: 1;
$MIDGROUND: 50;
$FOREGROUND: 1000;

/* Import
--------------------------------- */
@import 'normalize';
@import 'skeleton';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Basic styling
--------------------------------- */
body {
    margin: 0;
    background-color: $white; 
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    max-width: 100%;
}

img {
    max-width: 100%;
}
img.logo {
    max-width: 250px;
}

/* Navigation and Header
--------------------------------- */
header {
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    transition: all 200ms ease;
    border: none;
}

header h1.sitetitle {
    float: left;
    line-height: 75px;
    font-size: 3rem;
}
header .sitetitle a {
    text-decoration: none;
    color: $white;
}
header .menu-icon {
    line-height: 75px;
    color: $white;
    float: right;
}
header.sticky .menu-icon, header.sticky h1.sitetitle a {
    color: $black;
}

nav.fullscreen-navigation {
    z-index: $FOREGROUND;
    background-color: rgba(#000000, 0.85);
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;

    transform-origin: top;
    transform: rotateX(180deg);
    transition: transform 500ms ease;
}
nav.fullscreen-navigation ul {
    list-style: none;
    text-align: center;
}
nav.fullscreen-navigation ul li a{
    text-decoration: none;
    font-size: 4rem;
    color: $white;
    transition: color 300ms ease-in-out;
}
nav.fullscreen-navigation ul li a:hover{
    color: $primary;
}

header.navbar.sticky {
    z-index: $FOREGROUND;
    background-color: $white;
    // border-bottom: 1px solid #F0F0F0;
    box-shadow: 0 -5px 20px 0px #999;
}

/* Containers 
--------------------------------- */
.da-container {
    max-width: 960px;
    margin: 0 auto;
}

.full-width-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0;
}

/* smaller than desktop*/
@media (max-width: 1010px) {
    .da-container {
        width: calc(100% - 50px);
        width: calc(100vw - 50px);
    }
}

/* Smaller than phablet */
@media (max-width: 550px) {
    .da-container {
        width: calc(100% - 50px);
        width: calc(100vw - 50px);
    }
}

/* Frontpage 
--------------------------------- */
.frontpage {
    background-image: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?dpr=1&auto=compress,format&fit=crop&w=2040&h=&q=80&cs=tinysrgb&crop=");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    text-align: center;
}

div.bottom {
    position: absolute;
    bottom: 25px;
}

.btn-explore {
    z-index: $MIDGROUND;
    text-align: center;
    text-decoration: none;
    color: $white;
}

p.hero_text {
    padding: 0 25px;
    color: $white;
    text-shadow: 0px 1px 1px #000000;
    font-size: 2rem;
}

/* Video section
--------------------------------- */


/* Photo section
--------------------------------- */
.photo-section {
    background-color: $black;
    color: $white;
}

.grid {
    z-index: $MIDGROUND;
}

.grid img {
    max-width: 100%;
}

.grid-sizer {
    width: calc(33.33% - 10px);
}

.item {
    width: calc(33.33% - 10px);
    float: left;
    padding: 5px;
}

.item.wide {
    width: calc(66.66% - 10px);
}

      

/* Logo section 
--------------------------------- */
.logo-section {
}


/* Footer 
--------------------------------- */
footer {
    background-color: $black;
    color: $gray;
}

/* Smaller than mobile */
@media (max-width: 400px) {

}

/* Smaller than phablet */
@media (max-width: 550px) {

}

/* Smaller than tablet */
@media (max-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}