.photo-section {
    background-color: $white;
    color: $black;
}
.grid {
    z-index: $MIDGROUND;
    margin: 0 0 0 25px;

    img {
        max-width: 100%;
    }
}
.grid-sizer {
    width: calc(33.33% - 25px);
}

.item {
    width: calc(33.33% - 25px);
    float: left;
    margin-bottom: 25px;
}

.item.wide {
    width: calc(66.66% - 25px);
}
.item.ultrawide {
    width: calc(100% - 25px);
}

.lumos-container {
    z-index: 40000;
    background-color: $white;

    .lumos-alt-text {
        text-shadow: none;
        color: $black;
    }

    svg {
        fill: $black;

        &:hover {
            transform: translateY(-50%) scale(1.2);
        }

        &.lumos-close:hover {
            transform: translateY(-50%) translateX(50%) scale(1.2);        }
    }

    .spinner-container .spinner {
        background-color: $black;
    }
}



/* Smaller than phablet */
@media(max-width: 550px) {
    .grid-sizer {
        width: calc(100% - 25px);
    }
    
    .item {
        width: calc(100% - 25px);
        float: left;
        margin-bottom: 25px;
    }
    
    .item.wide {
        width: calc(100% - 25px);
    }
    .item.ultrawide {
        width: calc(100% - 25px);
    }

    img.logo, svg.mainlogo {
        max-width: 150px;
    }
}